@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.primary-text-color {
  color: #e8f4f8;
}

.accent-text-color {
  color: yellow;
}

.accent-bg-color {
  background-color: yellow;
}

.background-color {
  background-image: linear-gradient(#283f47, #3d6a7c);
}

@media screen {
  
}

@font-face {
  font-display: swap;
  font-family: "Handjet";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/handjet-v17-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Handjet";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/handjet-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/play-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/play-v17-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Handjet";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/handjet-v17-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Wallpoet";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Wallpoet-Regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

.linkedin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.linkedin svg {
  position: absolute;
  width: 200px; 
}

.no-scroll {
  overflow: hidden;
}

.remove-sepia-on-hover img {
  transition: filter 0.3s ease;
}

.remove-sepia-on-hover:hover img {
  filter: sepia(0);
}




/* ——————————————————————————————————————————————————
Projects Slide-In
—————————————————————————————————————————————————— */

.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-left.active {
  animation: slideInFromLeft 1.5s forwards;
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

.slide-in-right.active {
  animation: slideInFromRight 1.5s forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ——————————————————————————————————————————————————
Picture Gallery
—————————————————————————————————————————————————— */

.gallery {
  --d: 10s;
  display: grid;
  width: 25rem;
  margin-top: 5rem;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0 * var(--d));
  --r: 9deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc(-0.2 * var(--d));
  --r: -13deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc(-0.4 * var(--d));
  --r: 10deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc(-0.6 * var(--d));
  --r: 19deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc(-0.8 * var(--d));
  --r: -6deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%,
  100%,
  20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}

/* ——————————————————————————————————————————————————
Link Glitch Effect
—————————————————————————————————————————————————— */

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow-x: hidden;
}

.link-glitch {
  position: relative;
  color: yellow;
  mix-blend-mode: lighten;
}

.link-glitch:before,
.link-glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}

.link-glitch:before {
  left: -4px;
  text-shadow: 6px 0 #ff00ff;
}

.link-glitch:hover:before {
  text-shadow: 4px 0 #ff00ff;
  animation: link-glitch-anim-1 0.4s infinite ease-in-out alternate-reverse;
}

.link-glitch:after {
  left: 4px;
  text-shadow: -3px 0 #00ffc8;
}

.link-glitch:hover:after {
  text-shadow: -5px 0 #00ffc8;
  animation: link-glitch-anim-2 0.3s infinite ease-in-out alternate-reverse;
}

.project-2:hover::before,
.project-4:hover::before {
  display: flex;
  justify-content: flex-end;
}

@keyframes link-glitch-anim-1 {
  0% {
    clip: rect(30px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 105px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 100px, 0);
  }
}

@keyframes link-glitch-anim-2 {
  0% {
    top: -1px;
    left: 50px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -10px;
    left: 1px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -7px;
    left: 20px;
    clip: rect(65px, 9999px, 11px, 0);
  }
  75% {
    top: 10px;
    right: 20px;
    left: -50px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -5px;
    left: -7px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}

/* ——————————————————————————————————————————————————
Header Glitch Effect
—————————————————————————————————————————————————— */

h2 {
  font-size: 6rem;
  line-height: 1;
  border-bottom: 2px solid #e8f4f8;
  white-space: nowrap;
  position: relative;
  animation: header-glitch 1s linear infinite;
}

@keyframes header-glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

h2:before,
h2:after {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2:before {
  animation: headerGlitchTop 1s linear infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

h2:after {
  animation: headerGlitchBottom 1.5s linear infinite;
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes headerGlitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes headerGlitchBottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* ——————————————————————————————————————————————————
Text Typing Effect
—————————————————————————————————————————————————— */

.typing-wrapper .blinking-wrapper {
  background-color: #9ba5b4;
  font-size: 10rem;
  font-family: "Play", sans-serif;
}

.blinking-wrapper h1 {
  width: 15ch;
  border-right: 4px solid rgb(180, 171, 171);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* ——————————————————————————————————————————————————
Mobile Navigation
—————————————————————————————————————————————————— */

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #3d6a7c;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
  width: auto;
  height: auto;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #172125;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}

.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}
.main-nav a {
  display: block;
  padding: 12px 0;
  color: #e8f4f8;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}

.open-main-nav {
  position: fixed;
  left: 15px;
  top: 15px;
  padding-top: 20px;
  z-index: 200;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-main-nav:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 20px;
  height: 4px;
  margin: 0 auto;
  background: #e8f4f8;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #e8f4f8;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
  background: #e8f4f8;
}

.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

.burger-text {
  display: block;
  font-size: 8px;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #e8f4f8;
}

.device {
  position: fixed;
  z-index: 10;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* ——————————————————————————————————————————————————
Navigation Effect
—————————————————————————————————————————————————— */

.nav-anchor {
  color: #222;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav-anchor:hover {
  color: #fff;
  text-shadow: 0 0 5px #16549b,
              0 0 10px #16549b,
              0 0 25px #16549b,
              0 0 50px #16549b;
}

/* ——————————————————————————————————————————————————
Selected Projects Nav Effect
—————————————————————————————————————————————————— */

.selected-projects-nav-effect {
  color: yellow;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

.selected-projects-nav-effect:hover {
  color: #fff;
  text-shadow: 0 0 5px #16549b,
              0 0 10px #16549b,
              0 0 25px #16549b,
              0 0 50px #16549b;
}

/* ——————————————————————————————————————————————————
Social Link Grow Effect
—————————————————————————————————————————————————— */

.social-link {
  /* Set the initial scale to 1 (original size) */
  transform: scale(1);
  /* Add a transition effect */
  transition: transform 0.3s ease;
}

.social-link:hover {
  /* Scale the object up to 1.1 times the original size when hovered */
  transform: scale(1.3);
}

/* ——————————————————————————————————————————————————
Mobile Name Glow Effect
—————————————————————————————————————————————————— */

h1 span {
  color: yellow;
  animation: glowing 30s linear infinite;
}

@keyframes glowing {
  0%, 50% {
    color: yellow;
    filter: blur(1px);
    text-shadow: 0 0 2.5px #00b3ff,
                 0 0 5px #00b3ff,
                 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 30px #00b3ff,
                 0 0 50px #00b3ff,
                 0 0 75px #00b3ff,
                 0 0 100px #00b3ff;
  } 5%, 45% {
    color: white;
    text-shadow: none;
    filter: blur(0px);
  }
  50%, 100% {
    color: white;
    filter: blur(1px);
    text-shadow: 0 0 2.5px #00b3ff,
                 0 0 5px #00b3ff,
                 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 30px #00b3ff,
                 0 0 50px #00b3ff,
                 0 0 75px #00b3ff,
                 0 0 100px #00b3ff;
  } 55%, 95% {
    color: yellow;
    text-shadow: none;
    filter: blur(0px);
  }
}

h1 span:nth-child(1){
  animation-delay: 0s;
}

h1 span:nth-child(2){
  animation-delay: .5s;
}

h1 span:nth-child(3){
  animation-delay: 1s;
}

h1 span:nth-child(4){
  animation-delay: 1.5s;
}

h1 span:nth-child(5){
  animation-delay: 2s;
}

h1 span:nth-child(6){
  animation-delay: 2.5s;
}

h1 span:nth-child(7){
  animation-delay: 3s;
}

h1 span:nth-child(8){
  animation-delay: 3.5s;
}

h1 span:nth-child(9){
  animation-delay: 4s;
}

h1 span:nth-child(10){
  animation-delay: 4.5s;
}

h1 span:nth-child(11){
  animation-delay: 5s;
}

h1 span:nth-child(12){
  animation-delay: 5.5s;
}

h1 span:nth-child(13){
  animation-delay: 6s;
}

h1 span:nth-child(14){
  animation-delay: 6.5s;
}

h1 span:nth-child(15){
  animation-delay: 7s;
}

h1 span:nth-child(16){
  animation-delay: 7.5s;
}

/* ——————————————————————————————————————————————————
Page Transistion Animation
—————————————————————————————————————————————————— */

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  /* animation: flicker 0.15s infinite; */
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

.single-scanline:before, .single-scanline:after {
  display: block;
  pointer-events: none;
  content: "";
  position: fixed;

}
.single-scanline:before {
  width: 100%;
  height: 2px;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}

@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}









